html, body {
  margin: 0;
  padding: 10px 20px;
}
canvas {
  display: block;
}
.chart-container,
.chart-wrapper,
canvas {
  margin-bottom: 0;
  padding-bottom: 0;
}
.css-1dwmjn, [data-css-1dwmjn] {
position: initial;
    width: 1300px;
} 

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(2){
    left: 650px;
    position: relative;
    top: -379px;
}


#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(3){
  position: relative;
   top: -350px;
}

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(4){
  left: 650px;
    position: relative;
   top: -729px;
}

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(5){
   position: relative;
   top: -700px;
}

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(6){
  left: 650px;
    position: relative;
  top: -1079px;
}

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(7){
   position: relative;
   top: -1050px;
}

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(8){
 left: 650px;
    position: relative;
  top: -1429px;  
}
.chart-container > *:last-child {
  margin-bottom: 0;
}

#visor.tfjs-visor-container {
  height: 300px !important;      /* oder ein anderer fester Wert */
  max-height: 300px !important;
  overflow-y: auto !important;   /* falls Inhalt überläuft */
  bottom: 0 !important;          /* bleibt am unteren Rand */
}

.visor-controls{
  display: none;
}

#tfjs-visor-container > div{
height: 1700px;
  overflow: hidden;
}

#project-documentation{
    background-color: #fafafa;
    padding: 30px;
    max-width: 1240px;
    min-width: 1000px;
    margin-top: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#tfjs-visor-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
  position: static !important;
}

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div {
  position: static !important;
  top: auto !important;
  left: auto !important;
  margin-bottom: 20px;
  flex: 0 0 48%;
  box-sizing: border-box;
}

