html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.css-1dwmjn, [data-css-1dwmjn] {
position: initial;
    width: 1300px;
} 

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(2){
    left: 650px;
    position: relative;
    top: -379px;
}


#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(3){
  position: relative;
   top: -350px;
}

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(4){
  left: 650px;
    position: relative;
   top: -729px;
}

#tfjs-visor-container > div > div.css-nil.visor-surfaces > div:nth-child(5){
   position: relative;
   top: -700px;
}
